<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="BewerberDatei" value="C:\Entwicklung\CleanCodeKatas\Clean-Code-Katas\OpenClosedKata\BewerberAuswahlApp\BewerberListe.csv"/>
  </appSettings>
</configuration>